.modal {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contents {
    min-width: 200px;
    min-height: 100px;
    background-color: beige;
    padding: 20px;
    //visibility: visible;
    &.hidden {
      display: none;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}


.heart {
  position: relative;
  top: 5px;
  width: 30px;
  cursor: pointer;

  &.red {
    fill : #ce1212;
    &:hover {
      animation: pulse 1s ease infinite;
    }

    @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); }
      100% { transform: scale(1); }
    }

  }

  &.gray {
    fill : #bdc7c9;
  }
}
